:root {
    --font-sans-serif: stolzl, sans-serif;
    --black: #1A1919;
    --dark-gray: #737477;
    --mid-gray: #b6b6b6;
    --light-gray: #f8f8f8;
    --xlight-gray: #00162b33;
    --white: #FFFFFF;
    --redbull-red: #DB0840;
    --dark-navy: #001E3C;
    --lime-green: #7ED32C;
    --navy-blue: #002A55;
    --red: #f30b47;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
/* typography stuff here */

  body {
    font-family: var(--font-sans-serif);
    font-weight: 300;
    color:#1A1919;
    line-height: 1.75;
    font-size: 16px;
    padding: 20px;

  }

  .body__large {
    font-family: var(--font-sans-serif);
    font-weight: 300;
    color:#1A1919;
    line-height: 1.5;
    font-size: 20px;
  }

  .body__small {
    font-family: var(--font-sans-serif);
    font-weight: 300;
    color:#1A1919;
    line-height: 1.5;
    font-size: 12px;
  }

  .body__small-eyebrow {
    position: relative;
    line-height: 24px;
    font-family: var(--font-sans-serif);
    font-weight: 700;
    color:#1A1919;
    line-height: 1.5;
    font-size: 14px;
    text-transform: uppercase;
    padding: 0 0 0 12px;
    border-left: solid #DB0840 5px;
  }

  

  a {
    font-weight: 400;
    color:#1A1919;
    text-decoration: underline #00162b33 2px;
    text-underline-offset: .15em;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: 400;
    color:#1A1919;
    line-height: 1.2;
  }

  h1 {
    font-size: 69px;
  }

  h2 {
    font-size: 55px;
  }

  h3 {
    font-size: 44px;
  }

  .button--primary {
    display: inline-block;
    background-color: var(--red);
    text-decoration: none;
    color: white;
    font-size: 14px;
    border-radius: 999px;
    padding: 10px 20px;
  }

  .button--primary:hover {
    background-color: var(--redbull-red);
  }

  .button--secondary {
    display: inline-block;
    background-color: var(--white);
    text-decoration: none;
    color: var(--black);
    border: 2px solid #e2e3e5;
    font-size: 14px;
    border-radius: 999px;
    padding: 10px 20px;
  }

  .button--secondary:hover {
    background-color: var(--light-gray);
  }

  img {
    display: block;
    max-width: 100%;
  }

  .component img {
    max-width: initial;
  }

  .component__img {
    border: 1px solid #ccc;
    overflow-x: auto;
  }
/* cardy stuff here */

  .card--deck {
    display: grid;
    position: relative;
    grid-template-columns: repeat(3, 1fr, minmax(300px, 1fr));
    grid-auto-flow: column;
    gap: 20px;
    overflow: hidden;
  }

/* card--primary here */
  .card--primary {
    text-align: left;
    border-radius: 1%;
    border: 1px solid var(--dark-gray);
    overflow: hidden;
  }

  .card--primary_text {
    margin: 5%;
  }

  .card--primary_text-intro {
    color: var(--dark-gray);
    font-size: 20px;
  }

  .card--primary_meta-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: baseline;
    gap: 10px;
  }

  .card--primary_text-category {
    text-transform: uppercase;
    font-weight: 400;
    color: var(--dark-gray);
  }

  .card--primary_text-readtime {
    justify-self: right;
    font-weight: 400;
    color: var(--dark-gray);
  }

  .card--primary_img {
    width: 100%;
    border-top-left-radius: 1%;
    border-top-right-radius: 1%;
  }
/* card--featured here */

  .card--featured {
    display: grid;
    grid-template-rows: ;
    text-align: left;
    border-radius: 1%;
    border: 1px solid var(--dark-gray);
    overflow: hidden;
  }

  .card--featured_img {
    border-radius: 1%;
    position: relative;
  }

  .card--featured_text {
    position: absolute;
    margin: 5%;
  }

  .card--featured_text-header {
    position: relative;
    color: white;
    font-size: 44px;
    z-index: 1;
  }

  .card--feature_text-category {
    color: white;
  }

  .has-bg-img{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  card__title { 
    align-self: flex-end;
    padding: 0.5rem;
    color: rgba(255,255,255,.90);
    font-size: 2rem;
    line-height: 1;
    font-weight: 600;
}

/* main nav styles start */

.page-header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    align-items: center;
    z-index: 1;
    padding: 20px 0;
    position: sticky;
    background-color: blue;
}

.page-header--left {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-self: start;
    align-items: baseline;
    padding-left: 12px;

}

.page-header--right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    padding-right: 12px;
    align-items: flex-end;
}

.page-hero--carousel__image {
    z-index: 0;
}

.page-header__icon {
    height: 30px;
    width: 30px;
    padding-top: 10px;
    fill: white;
    margin: 0 10px;
}

.page-header__logo {
    display: block;
    height: 36px;
    width: 225px;

}
.main-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #000f1e66;
    border-radius: 100px;
    border: 1px solid #fff3;
    backdrop-filter: blur(20px);
    padding: 5px 0px;
    margin: 0 auto;
}

.main-nav--item {
    color: white;
    font-weight: 300;
    text-decoration: none;
    text-align: center;
    margin: 5px 32px;
}

/* footer */

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #00162b;
    line-height: 2;
    padding-left: 64px;
}

.footer a {
    color: var(--light-gray);
}

.footer__left {
    grid-area: 1;
}

.footer__center {
    grid-area: 1 / 2;
}

.footer__right {
    grid-area: 1 / 3;
    text-align: right;
    padding-right: 64px;
}

.footer__copyright_text {
    color: var(--mid-gray);
    font-weight: lighter;
}