:root {
    --font-sans-serif: stolzl, sans-serif;
    --black: #1A1919;
    --dark-gray: #737477;
    --mid-gray: #b6b6b6;
    --light-gray: #f8f8f8;
    --xlight-gray: #00162b33;
    --white: #FFFFFF;
    --redbull-red: #DB0840;
    --dark-navy: #001E3C;
    --lime-green: #7ED32C;
    --navy-blue: #002A55;
    --red: #f30b47;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/* typography stuff here */

body {
    font-family: var(--font-sans-serif);
    font-weight: 300;
    color: #1A1919;
    line-height: 1.75;
    font-size: 16px;
}

.body__large {
    font-family: var(--font-sans-serif);
    font-weight: 300;
    color: #1A1919;
    line-height: 1.5;
    font-size: 20px;
}

.body__small {
    font-family: var(--font-sans-serif);
    font-weight: 300;
    color: #1A1919;
    line-height: 1.5;
    font-size: 12px;
}

.body__small-eyebrow {
    position: relative;
    line-height: 24px;
    font-family: var(--font-sans-serif);
    font-weight: 700;
    color: #1A1919;
    line-height: 1.5;
    font-size: 14px;
    text-transform: uppercase;
    padding: 0 0 0 12px;
    border-left: solid #DB0840 5px;
}

.body__small-eyebrow-rev {
    position: relative;
    line-height: 24px;
    font-family: var(--font-sans-serif);
    font-weight: 700;
    color: white;
    line-height: 1.5;
    font-size: 14px;
    text-transform: uppercase;
}



a {
    font-weight: 400;
    color: #1A1919;
    text-decoration: underline #00162b33 2px;
    text-underline-offset: .15em;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 400;
    color: #1A1919;
    line-height: 1.2;
}

h1 {
    font-size: 69px;
}

h2 {
    font-size: 55px;
}

h3 {
    font-size: 44px;
}

.rev {
    color: white;
}

.button--primary {
    display: inline-block;
    background-color: var(--red);
    text-decoration: none;
    color: white;
    font-size: 14px;
    border-radius: 999px;
    padding: 10px 20px;
}

.button--primary:hover {
    background-color: var(--redbull-red);
}

.button--secondary {
    display: inline-block;
    background-color: var(--white);
    text-decoration: none;
    color: var(--black);
    border: 2px solid #e2e3e5;
    font-size: 14px;
    border-radius: 999px;
    padding: 10px 20px;
}

.button--secondary:hover {
    background-color: var(--light-gray);
}

img {
    display: block;
    max-width: 100%;
}

.component img {
    max-width: initial;
}

.component__img {
    border: 1px solid #ccc;
    overflow-x: auto;
}

/* nav styles */
.page-nav { /* container for position only */
    position: absolute;
    top: 15px;
    width: 100%;
}

.main-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #000f1e66;
    border-radius: 100px;
    border: 1px solid #fff3;
    backdrop-filter: blur(20px);
    padding: 5px 0px;
    margin: 0 auto;
}

.main-nav--item {
    color: white;
    font-weight: 300;
    text-decoration: none;
    text-align: center;
    margin: 5px 32px;
}
.page-header--background {
    position: relative;
    margin: 0px
}


.page-header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
}

.page-header--left {
    display: grid;
    grid-template-columns: 25% 75%;
    padding-left: 12px;
}

.page-header--right {
    justify-self: end;
}

.page-header__icon {
    height: 30px;
    width: 30px;
    padding-top: 10px;
    fill: white;
    margin: 0 10px;
}

.page-header__logo {
    height: 36px;
    width: 225px;

}

/* cardy stuff here */

.cards {
    margin: 2% 5%;
    background-color: #b6b6b6;
}

.card--deck {
    display: grid;
    grid-template-columns: repeat(3, minmax(375px, 1fr));
    grid-gap: 1.5rem;
}

/* card--primary here */
.card--primary {
    overflow: hidden;
    background-color: white;
}

.card--primary_text {
    margin: 5%;
}

.card--primary_title {
    font-size: 1.35rem;
    font-weight: 500;
    line-height: 1.25;
}

.card--primary_text-intro {
    color: var(--dark-gray);
    font-size: 1rem;
    line-height: 1.25;
}

.card--primary_meta-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: baseline;
    gap: 10%;
}

.card--primary_text-category {
    font-size: .75rem;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--dark-gray);
}

.card--primary_text-readtime {
    font-size: .75rem;
    justify-self: right;
    font-weight: 300;
    color: var(--dark-gray);
}

.card--primary_img {
    width: 100%;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
}

.card--primary_img:hover {
    tran
}

.card__button-read-more {
    grid-column: 2;
    align-self: center;
    justify-self: center;
}

/* card--featured here */

.featured--card {
    position: relative;
}

.featured--card-text {
    position: absolute;
    top: 0;
}

.card--featured {
    display: grid;
    grid-template-rows: ;
    text-align: left;
    border-radius: 1%;
    border: 1px solid var(--dark-gray);
    overflow: hidden;
}

.card--featured_img {
    border-radius: 1%;
    position: relative;
}

.card--featured_text {
    position: absolute;
    margin: 5%;
}

.card--featured_text-header {
    position: relative;
    color: white;
    font-size: 44px;
    z-index: 1;
}

.card--feature_text-category {
    color: white;
}

/* footer */

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #00162b;
    line-height: 1.75;
    padding: 30px 64px;
}

.footer a {
    color: var(--light-gray);
}

.footer__left {
    grid-area: 1;
}

.footer__center {
    grid-area: 1 / 2;
}

.footer__right {
    grid-area: 1 / 3;
    text-align: right;
    padding-right: 64px;
}

.footer__copyright_text {
    color: var(--mid-gray);
    font-weight: lighter
}

/* page hero */

.page-hero-info {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    height: 100%;
    width: 100%;
    margin: 0 7.5%;
    padding-right: 20px;
}

.page-hero__text {
    grid-row: 2;
    align-self: center;
    height: 50%;
}

.page-hero__eyebrow {
    grid-column: 1;
    color: white;
    font-weight: 700;
    align-self: end;
}

.page-hero__h2 {
    grid-column: 1 / 2;
    color: white;
    margin: 0 0 30px 0;
    align-self: stretch;
}

.page_hero__story {
    grid-row: 3;
    grid-column: 1 / 2;
    align-self: end;
}

.page-hero__story-blocks {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 0 20px;
    position: absolute;
    bottom: 10px;
}

.page-hero__story-blocks p {
    border-top: 2px solid var(--mid-gray);
    padding-top: 15px;
    color: var(--mid-gray);
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
}

.page-hero__story-blocks p:hover {
    border-top: 2px solid var(--redbull-red);
    padding-top: 15px;
    color: var(--light-gray);
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
}

/* side bar */
.sidebar {
    width: 20%;
}

/* side bar typography*/

.sidebar__title {
    font-family: var(--font-sans-serif);
    font-weight: 500;
    color: #1A1919;
    line-height: 1.5;
    font-size: 12px;
    border-bottom: 1px solid var(--mid-gray);
    padding-bottom: 10px;
}

.sidebar__date {
    font-family: var(--font-sans-serif);
    font-weight: 500;
    color: var(--mid-gray);
    font-size: 12px;
    padding-bottom: 10px;
}

.event_title {
    font-family: var(--font-sans-serif);
    font-weight: 500;
    color: #1A1919;
    line-height: 1.5;
    font-size: 15px;
}

.sidebar_copy {
    font-family: var(--font-sans-serif);
    font-weight: 500;
    color: #1A1919;
    line-height: 1.5;
    font-size: 12px;
    padding-bottom: 10px;
}

.sidebar_numbers {
    background-color: var(--mid-gray);
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 500;
    margin-right: 12px;
    border-radius: 50%;
    height: 24px;
    min-width: 24px;
    line-height: 24px;
}

.sidebar img {
    position: absolute;
    width: 5%;
}

.sidebar_img {
    position: relative;
    background-color: #1A1919;
    width: 88px;
    height: 88px;
    border-radius: 5px;
}

.sidebar__icon {
    height: 10px;
    width: 10px;
    fill: var(--mid-gray);
    margin: 0 10px;
}

.sidebar .button--secondary {
    margin-bottom: 10px;
}

/* pullquote stuff */

.pullquote {
    color: #00162b;
    font-size: 60px;
    text-align: center;
    font-weight: 500;
    line-height: 1.25;
    margin-top: 0;
    margin: 0 200px;
}

.pullquote-mark {
    color: var(--redbull-red);
    font-size: 135px;
    font-weight: 700;
    padding-bottom: 0;
}

.pullquote-author {
    font-size: 20px;
    font-weight: 700;
    padding-top: 30px;
}

/* pullquote stuff */

.img_block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.img_block img {
    grid-column: 2;
    align-self: start;
    justify-content: center;
    width: 1000px;
    height: auto;
}

.img__caption {
    grid-column: 2;
    font-style: var(--font-sans-serif);
    font-size: 17px;
    margin-bottom: 0px;
}

.img__credit {
    grid-column: 2;
    font-size: 12px;
    margin-top: 0;
    color: var(--dark-gray);
}