<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="stylesheet" href="../../css/main.css" />
        <link rel="stylesheet" href="../../css/normalize.css" />
        <link rel="stylesheet" href="https://use.typekit.net/djp4bsu.css">
        <title>Redbull Components Library</title>
    </head>
    <body>
        <h1>Components start here</h1>

        <h2>Typography</h2>

        <article class="component">
            <h3 class="component__name">body</h3>
            <div class="component__img">
            <img srcset="../img/story-page/story--body/story--body.png 2x" src="../img/typography/body-copy.png" alt="body copy"/>
            </div>
            <div class="component__code">
                <p>On Saturday, April 6, <a href="#!">breaking crews from across the world</a> gathered at <a href="#!"> WAMU Theater</a> for the 2v2 breaking event, <a href="#!"> Bull Lords Of The Floor</a>.<a href="#!">Sixteen duos</a> of b-boys and b-girls showcased gravity-defying moves, flawless footwork, and impressive freezes, for the prestigious Red Bull Lords Of The Floor title.
                </p>
            </div>
        </article>
        
        <article class="component">
            <h3 class="component__name">H1, H2, H3, etc...</h3>
            <div class="component__img">
            <img srcset="../img/story-page/story--body/story--body.png 2x" src="../img/typography/body-copy.png" alt="body copy"/>
            </div>
            <div class="component__code">
                <p>On Saturday, April 6, <a href="#!">breaking crews from across the world</a> gathered at <a href="#!"> WAMU Theater</a> for the 2v2 breaking event, <a href="#!"> Bull Lords Of The Floor</a>.<a href="#!">Sixteen duos</a> of b-boys and b-girls showcased gravity-defying moves, flawless footwork, and impressive freezes, for the prestigious Red Bull Lords Of The Floor title.
                </p>
            </div>
        </article>
    
    </body>
</html>