<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="stylesheet" href="../../css/main.css" />
        <link rel="stylesheet" href="../../css/normalize.css" />
        <link rel="stylesheet" href="https://use.typekit.net/djp4bsu.css">
        <title>Redbull Components Library</title>
    </head>
    <body>
        <h1>Components start here</h1>

        <h2>Typography</h2>

        <article class="component">
            <h3 class="component__name">body</h3>
            <div class="component__img">
            <img  src="../img/typography/body-copy.png" alt="body copy"/>
            </div>
            <div class="component__code">
                <p>On Saturday, April 6, <a href="#!">breaking crews from across the world</a> gathered at <a href="#!"> WAMU Theater</a> for the 2v2 breaking event, <a href="#!"> Bull Lords Of The Floor</a>.<a href="#!">Sixteen duos</a> of b-boys and b-girls showcased gravity-defying moves, flawless footwork, and impressive freezes, for the prestigious Red Bull Lords Of The Floor title.
                </p>
            </div>
        </article>

        <article class="component">
            <h3 class="component__name">large body</h3>
            <div class="component__img">
            <img  
            srcset="../img/typography/body-large.png 2x"
            src="../img/typography/body-large.png" alt="body copy"/>
            </div>
            <div class="component__code">
                <p class="body__large">Running a half marathon is a real challenge. But don't panic – with these running tips, your first half will be a complete success, and the preparation will even be fun!
                </p>
            </div>
        </article>

        <article class="component">
            <h3 class="component__name">small body</h3>
            <div class="component__img">
            <img  
            srcset="../img/typography/small-body.png 2x"
            src="../img/typography/small-body.png" alt="body copy"/>
            </div>
            <div class="component__code">
                <p class="body__small">By Henner Thies
                </p>
            </div>
        </article>

        <article class="component">
            <h3 class="component__name">eyebrow title</h3>
            <div class="component__img">
            <img  
            srcset="../img/typography/eyebrow.png 2x"
            src="../img/typography/eyebrow.png" alt="body copy"/>
            </div>
            <div class="component__code">
                <p class="body__small-eyebrow">running
                </p>
            </div>
        </article>
        
        <article class="component">
            <h3 class="component__name">H1, H2, H3, etc...</h3>
            <div class="component__img">
            <img src="../img/typography/h1.png" alt="body copy"/>
            </div>
            <div class="component__code">
                <h1>here's the h1</h1>
                <h2>h2 -- Legendary breaking competition Red Bull Lords Of The Floor crowns champions
                </h2>
                <h3>h3 -- Legendary breaking competition Red Bull Lords Of The Floor crowns champions
                </h3>
            </div>
        </article>
        <h2>Button Styles</h2>
        <article class="component">
            <h3 class="component__name">Primary Button</h3>
            <div class="component__img">
            <img  
            srcset="../img/buttons/button--primary.png 2x"
            src="../img/buttons/button--primary.png" alt="body copy"/>
            </div>
            <div class="component__code">
                <a href="#!" class="button--primary">Read Story
                </a>
            </div>
        </article>

        <article class="component">
            <h3 class="component__name">Secondary Button</h3>
            <div class="component__img">
            <img  
            srcset="../img/buttons/button--secondary.png 2x"
            src="../img/buttons/button--secondary.png" alt="body copy"/>
            </div>
            <div class="component__code">
                <p class="button--secondary">Read Story
                </p>
            </div>
        </article>
        <!--cards-->
        <article class="component">
            <h3 class="component__name">Card--Primary</h3>
            <div class="component__img">
            <img  
            srcset="../img/card-section/card--primary/card--primary.png 2x"
            src="../img/card-section/card--primary/card--primary.png" alt="body copy"/>
            </div>
            <div class="component__code">
                    <div class="card--deck">
                        <!--individual card starts here-->
                            <div class="card--primary">
                                <img class="card--primary_img" src="../img/card-section/card--primary/card_primary_img.avif" alt="card primary example">
                                <div class="card--primary_text">
                                    <h3>Red Bull Spiral S2 E1: Pusha T, Khi Infinite, yvngxchris
                                    </h3>
                                    <p class="card--primary_text-intro">The full episode of Red Bull Spiral is out now on Red Bull 1520.
                                    </p>
                                    <div class="card--primary_meta-info">
                                        <p class="card--primary_text-category">MUSIC
                                        </p>
                                    <p class="card--primary_text-readtime">1 min read</p>
                                    </div>
                                </div>
                            </div>
                            <!--individual card ends here--> 
                                <!--individual card starts here-->
                                <div class="card--primary">
                                    <img class="card--primary_img" src="../img/card-section/card--primary/card_primary_img.avif" alt="card primary example">
                                    <div class="card--primary_text">
                                        <h3>Red Bull Spiral S2 E1: Pusha T, Khi Infinite, yvngxchris
                                        </h3>
                                        <p class="card--primary_text-intro">The full episode of Red Bull Spiral is out now on Red Bull 1520.
                                        </p>
                                        <div class="card--primary_meta-info">
                                            <p class="card--primary_text-category">MUSIC
                                            </p>
                                        <p class="card--primary_text-readtime">1 min read</p>
                                        </div>
                                    </div>
                                </div>
                                <!--individual card ends here-->    
                    </div>
                </div>
        </article>
    </body>
</html>